a{
    font-size: 30px;
    color: purple;
    text-align: center;
}

h1{
    background-color: black;
    color: red;
}

h3{
    color: black;
    background-color: white;
}

body
{
    text-align: center;
}
